In [23]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Load dataset
data = pd.read_csv('/content/telecom_churn.csv')

# Convert 'date_of_registration' to datetime format
data['date_of_registration'] = pd.to_datetime(data['date_of_registration'], errors='coerce')

check the missing values

In [24]:
data[['estimated_salary', 'date_of_registration']].isna().sum()

estimated_salary        0
date_of_registration    0
dtype: int64

 Extract year, month, and day as separate features

In [25]:

data['registration_year'] = data['date_of_registration'].dt.year
data['registration_month'] = data['date_of_registration'].dt.month
data['registration_day'] = data['date_of_registration'].dt.day

# Drop original date column after extraction

In [26]:
data.drop(columns=['date_of_registration'], inplace=True)

# Normalize 'estimated_salary' using MinMaxScaler

In [27]:
scaler = MinMaxScaler()
data['estimated_salary'] = scaler.fit_transform(data[['estimated_salary']])

# Display processed dataset

In [28]:

data.head()

,customer_id,telecom_partner,gender,age,state,city,pincode,num_dependents,estimated_salary,calls_made,sms_sent,data_used,churn,registration_year,registration_month,registration_day
0,1,Reliance Jio,F,25,Karnataka,Kolkata,755597,4,0.807406,44,45,-361,0,2020,1,1
1,2,Reliance Jio,F,55,Mizoram,Mumbai,125926,2,0.850437,62,39,5973,0,2020,1,1
2,3,Vodafone,F,57,Arunachal Pradesh,Delhi,423976,0,0.990992,49,24,193,1,2020,1,1
3,4,BSNL,M,46,Tamil Nadu,Kolkata,522841,1,0.144016,80,25,9377,1,2020,1,1
4,5,BSNL,F,26,Tripura,Delhi,740247,2,0.269987,78,15,1393,0,2020,1,1